<form class="form-container">
<div class="column1">
  <div>
    <span class="recipe-title">RECIPE INFO</span>
  </div>
<div>
  {{input class="new-recipe-image" placeholder="Enter Image URL" value=image}}
  <div>
    {{input class="new-recipe-name" placeholder="Recipe Name" value=name}}
  </div>
  <div>
    {{input class="new-author" placeholder="Author Name" value=author}}
  </div>
  <div>
    {{view "select" content=recipeType value=type prompt="Please select type of recipe"}}
  </div>
  <div>
    {{input class="prep-time" placeholder="Prep Time" value=prepTime}}
  </div>
  <div>
    {{input class="cook-time" placeholder="Cook Time" value=cookTime}}
  </div>
  <div>
    {{input class="cook-temp" placeholder="Cook Temp" value=cookTemp}}
  </div>
  <div>
    {{input class="yield-number" placeholder="Amount" value=yieldNumber}}
  </div>
  <div>
    {{input class="yield-name" placeholder="cookies, loaves, etc" value=yieldName}}
  </div>
</div>
</div>

<div class="column2">
<div>
  <span class="recipe-title">STEPS</span>
</div>
  {{!iterate over the steps on the controller, setting recipes.step as the controller for each}}
  {{#each step in steps itemController="recipes.step"}}
  {{!iterate over the ingredients on the step controller's model}}
    {{#each ingredient in step.model.ingredients}}

    <div>
      {{input class="ingredient-amount" placeholder="Amount" value=ingredient.amount}}
      <div>
        {{view "select" class="ingredient-unit" content=ingredientsUnit value=ingredient.unit prompt="Please select unit of measurement"}}
      </div>
      <div>
        {{input class="ingredients-name" placeholder="Ingredient" value=ingredient.name}}
        <button class="add-ing-button" {{action "addIngredient"}}> + </button>
      </div>
    </div>

    {{/each}}

      {{textarea class="directions" placeholder="Directions" value=step.model.directions}}
      <button class="add-step"{{action "addStep"}}> Add another step </button>

    {{/each}}

    </div>
  <div class="column3">
    {{textarea class="notes" placeholder="Enter Recipe Notes" value=notes}}
  </div>

    <button {{action "saveRecipe"}}> Save this Recipe </button>

</form>

{{outlet}}
