<form>

  {{input class="new-recipe-name" placeholder="Recipe Name" value=recipe.name}}

  {{input class="new-author" placeholder="Author Name" value=recipe.author}}

  <!-- {{view "select" content="recipe" value="recipe.type"}} -->

  {{input class="prep-time" placeholder="Prep Time" value=recipe.prepTime}}

  {{input class="cook-time" placeholder="Cook Time" value=recipe.cookTime}}

  {{input class="cook-temp" placeholder="Cook Temp" value=recipe.cookTemp}}

  {{input class="yield-number" placeholder="Amount" value=recipe.yieldNumber}}

  {{input class="yield-name" placeholder="cookies, loaves, etc" value=recipe.yieldName}}


  <span>Steps</span>

  {{input class="ingredient-amount" placeholder="Amount" value=ingredients.amount}}

  <!-- {{view "select" content="ingredients-unit" value="ingredients.unit"}} -->

  {{input class="ingredients-name" placeholder="Ingredient" value=ingredients.name}}

  <button {{action "addIngredient"}}> + </button>

  {{textarea class="directions" placeholder="Directions" value=recipe.directions}}

  <button {{action "addStep"}}> Add another step </button>

  {{textarea class="notes" placeholder="Enter Recipe Notes" value=recipe.notes}}


  <button {{action "saveRecipe"}}> Save this Recipe </button>







</form>

{{outlet}}
