<form>
<h1>{{model.name}}</h1>
<h3>By: {{model.author}}</h3>
<div><img class="recipe-image"{{bind-attr src=model.image}}></div>
<ul>
  <li class="recipe-info-list-items"><div>Recipe Type</div><h2 class="recipe-info-headers">{{model.type}}</h2></li>
  <li class="recipe-info-list-items"><div>Prep Time</div><h2 class="recipe-info-headers">{{model.prepTime}}</h2></li>
  <li class="recipe-info-list-items"><div>Cook Time</div><h2 class="recipe-info-headers">{{model.cookTime}}</h2></li>
  <li class="recipe-info-list-items"><div>Cook Temp</div><h2 class="recipe-info-headers">{{model.cookTemp}}</h2></li>
</ul>
<div>
<span>This recipe will create{{input value=scaleMult class="scale-mult"}} serving of {{model.yieldNumber}} {{model.yieldName}}</span>
<button {{action "adjustYield"}}>Adjust</button>
</div>

<h3>Steps</h3>
{{#each step in model.steps}}
<div class="step-container">

<div class="step-directions"><p>{{step.directions}}</p></div>

<div class="step-ing">
{{#each ing in step.ingredients itemController="recipes.ingredient"}}
<ul>
<li class="recipe-step-list">{{ing.scaledAmount}}</li>
<li class="recipe-step-list">{{ing.model.unit}}</li>
<li class="recipe-step-list">{{ing.model.name}}</li>
</ul>
{{/each}}
</div>
</div>
{{/each}}

<p class="recipe-notes"><h3>Personal Notes</h3>{{model.notes}}</p>

</form>

<h1 class="edit-recipe">{{link-to "Edit Recipe" "recipes.edit" model}}</h1>


{{outlet}}
