<form>
<h1>{{model.name}}</h1>
<h3>By: {{model.author}}</h3>
<div><img {{bind-attr src=model.image}}></div>
<ul>
  <li>recipe type: {{model.type}}</li>
  <li>prep time: {{model.prepTime}}</li>
  <li>cook time: {{model.cookTime}}</li>
  <li>cook temp: {{model.cookTemp}}</li>
</ul>
<div>
<span>This recipe will create {{model.yieldNumber}} {{model.yieldName}}</span>
<button {{action "adjustYield"}}>Adjust</button>
</div>

{{#each steps in model.steps}}

{{log steps.directions}}

{{#each ing in steps.ingredients}}


{{log ing.amount}}
{{log ing.unit}}
{{log ing.name}}


{{/each}}
{{/each}}

<p>Personal Notes: {{model.notes}}</p>

</form>

{{outlet}}
